.heading-container{

    border: 5px solid rgb(124, 4, 134);
}
.heading-1 {
 position: obsolute;
 bottom:0;
 right:50px;
 left: 40px;
 margin:0;
}
.child-container {
position: relative;
}
.fixed-heading-1{
    font-color:rgb(247, 6, 6);
  position :fixed;
  bottom:0;
  right:0;
}
.sticky-heading{
   position:sticky;
   top:0;
   right:0;
   background-color: rgb(158, 243, 46);
}