body {
    margin: 0;
    padding: 0;
}
.box {
    width: 24.7%;
    height: 300px;
    background-color: rgb(103, 116, 47);
    display: inline-block;
    margin: 0;
}
@media screen and (max-width: 1023px) {
    .box {
        width: 49.7%;
    }
}
@media screen and (max-width: 767px) {
    .box {
        width:99.7%;
    }
}